body {
    background-color: #cccccc;
}

#kanye {
    height: 250px;
    width: auto;
    margin: auto;
    margin-top: 10%;
    margin-left: 40.5%;
}

.card{
    height: 250px;
    width: 750px;
    border: 3px solid #3d3d3d;
    margin: auto;
    padding: 10px;
    background:lightslategrey;
    opacity: 85%;
    display: inline-block;
    margin-left: 22%;
}

#form_input {
    width: 50%;
    margin-top: 6.5%;
    margin-left: 25%;
}

#dropdownMenuButton {
    width: 50%;
    margin-left: 25%;
}

#searchbtn {
    width: 50%;
    margin-left: 25%;
    background-color: #a9a9a9;
}

#searchbtn:hover {
    background-color: lightskyblue;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
/* .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */