*{
    font-family: 'Acme', sans-serif;    
}

body {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow:hidden
}

header {
    background: radial-gradient(circle at bottom, chartreuse, black 100%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    overflow: hidden;
}



nav {
    font-size: larger;
    font-weight:bolder;
    text-align: center;
    background-color: chartreuse;
}

img {

    margin-left: auto;
    margin-right: auto;
    height: 250px;
  }

.card {
    text-align: center;
    margin-top: 2.5%;
    border-radius: 15px;
}

.quote {
    width: 75%;
}

  
/* The Modal (background) */
.modal {
    display: none;/* Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: rotate;
    animation-duration: .5s;
    animation-iteration-count: 2s;
    animation-timing-function: linear;
}

/* Modal Content/Box */
.modal-content {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(255, 248, 248);
    width: 80%; /* Could be more or less, depending on screen size */
    height: 20%;
    text-align: center;
    border-radius: 25px;
}

#refresh{
    border: black solid 1px;
    border-radius: 10px;
    width: 100px;
    background-color: navy;
    color: white;
    margin-bottom: 10px;
    height: 20%;
    text-align: center;
}


#transBtn {
    margin: 0;
    background-color: navy;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 15px;
}


#kanyeQuote {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}    



#refreshBtn {
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 7.5%;
    background-color: chartreuse;
    border-radius: 15px;
}

#kanyeQuote {
    margin:auto;
    padding:auto;
    min-height:100px;
    text-align: center;
    max-width: 95%;
    font-size: 20px;
    font: ' Acme';
}

#language {
    border-radius: 15px;
}

select {
    max-width: 200px;
    text-align: center;
}

label {
    font-weight: bolder;

}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.saveYoda  {
margin-top: 20px; 
margin-bottom: 10px;
font-size: 20px;
border: solid red 1px;
border-radius: 10px;
}

@media screen and (max-width:734px) {
    .saveYoda {
        border: solid black;
        font-size: 19px;
    
    }
}

span {
    position: absolute;
    pointer-events: none;
    background: white;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 1;
    }
    10%
    {
        opacity: .75;
    }
    90%
    {
        opacity: .5;
    }
    100%
    {
        transform: scale(1) translateY(500%) rotate(360deg);
        opacity: 0;
    }
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
